html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #f0f2f5;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
